ROBLOX_CLIENT_ID=
ROBLOX_CLIENT_SECRET=
ROBLOX_API_KEY=
SESSION_SECRET=
ROBLOX_GROUP_ID=521106467
NEXT_PUBLIC_SITE_URL=https://eb-do-mig-netlify.vercel.app
DISCORD_PROMOTIONS_WEBHOOK=
DISCORD_DEMOTIONS_WEBHOOK=
DISCORD_TRAININGS_WEBHOOK=
DISCORD_LOGS_WEBHOOK=
